/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}

/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}

@if $global-border-box == true{
    /**
    * Let’s make the box model all nice, shall we...?
    */
    *{
        &,
        &:before,
        &:after{
            @include vendor(box-sizing, border-box);
        }
    }
}

@mixin rem($property, $value, $em: false){
    #{$property}: #{$value}px;
    @if $em == true { #{$property}: $value/$main-font-size * .8125em; }
    #{$property}: $value/$main-font-size * .8125rem;
}