$gutter: 2%;
$use-silent-classes: true;
$push: true;
$pull: true;
$breakpoints: (
    'threecol' '(min-width: 960px)',
    'twocol' '(min-width: 550px)'
);
$breakpoint-has-widths: ('twocol', 'threecol');
$breakpoint-has-push:   ('twocol', 'threecol');
$breakpoint-has-pull:   ('twocol', 'threecol');
// $lap-start
// $desk-start


$main-font-size: 13;
$lh: 1.538461538em;
$global-border-box: true;