/*--------------------------------------- Footer ---------------------------------------*/

footer{
	@extend %grid;
}

footer > .line{
	border-top: $border;
	margin-left: 2%;
}

.footernav{
	@extend %grid__item;
	@extend %one-whole;
	@extend %threecol--two-thirds;
	@include rem("margin-top", 40);
}

.search{
	@extend %grid__item;
	@extend %one-whole;
	@extend %threecol--one-third;
	@include rem("margin-top", 40);
}

.copyright{
	@extend %grid__item;
	@extend %one-whole;
	@include rem("margin-top", 20);
	@include rem("margin-bottom", 40);
	@include rem("font-size", 11, true);
	color: $lightgray;
}

.searchform{
	@extend %one-whole;
	@extend %twocol--one-half;
	@extend %threecol--one-whole;
	border: $border;

	input{
		display: inline-block;
		vertical-align: top;
		border: 0;
		height: 100%;
	}

	input[type=search]{
		@extend %three-quarters;
	}
	input[type=submit]{
		border-left: $border;
		@extend %one-quarter;
	}
}