/*--------------------------------------- Footer ---------------------------------------*/

footer{
	@extend .grid;
}

footer > .line{
	@media all and (max-width: $bp-small-2){
		hr{
			background: $white;
		}
	}
}

.footernav{
	@extend .grid__item;
	@extend .one-whole;
	@extend .bp-med--two-thirds;
}

.search{
	@extend .grid__item;
	@extend .one-whole;
	@extend .bp-med--one-third;
	margin-top: $space * 2;
	@media all and (min-width: $bp-med){
		margin-top: 0;
	}
}

.copyright{
	@extend .grid__item;
	@extend .one-whole;
	@include font-size((11/16), small);
	margin-top: $space;
	margin-bottom: $space * 2;
	color: $gray-light;
}