/*--------------------------------------- Grob ---------------------------------------*/
header{
	@extend .grid;
}


/*--------------------------------------- Header ---------------------------------------*/
.logo{
	@extend .grid__item;
	@extend .one-whole;
	@extend .bp-med--one-third;
}

.logo a:after{
	content: normal;
}

.logo img{
	margin: $space 0;
}

.mainnav{
	@extend .grid__item;
	@extend .one-whole;
	@extend .bp-med--two-thirds;
  text-align: right;
}

.teaser{
	position: relative;
	height: 200px;
	overflow: hidden;
	text-align:center;
}

.teaser.big{
	height: 300px;
}

.teaser h1{
	position: absolute;
  left: $space-and-half;
  bottom: $space;
  color: white;
  margin: 0;
  padding: 0;
}

.teaser img {
	position: absolute;
	left: 50%;
	margin-left: -600px;
	top: 0;
	max-width: none;
	min-height: 100%;
	text-align: center;
}

.breadcrumb{
	@extend .grid__item;
	@extend .one-whole;
}