/*--------------------------------------- Grob ---------------------------------------*/
header{
	@extend %grid;
}


/*--------------------------------------- Header ---------------------------------------*/
.logo{
	@extend %grid__item;
	@extend %one-whole;
  @extend %threecol--one-quarter;
}

.logo img{
	max-width: 170px;
	margin: $lh 0;
}

.mainnav{
	@extend %grid__item;
	@extend %one-whole;
  @extend %threecol--three-quarters;
  text-align: right;
}

.teaser{
	@extend %grid__item;
	@extend %one-whole;
	position: relative;
}

.teaser h1{
	position: absolute;
  @include rem("left", 30);
  @include rem("bottom", 20);
  color: white;
}

.breadcrumb{
	@extend %grid__item;
	@extend %one-whole;
}

/*--------------------------------------- Content ---------------------------------------*/

.content{
	@extend %grid;
}

.box.produkte, .box.referenzen{
	@extend %twocol--one-whole;
	@extend %threecol--one-third;
}

.korona, .kontakt{
	@extend %push--threecol--one-third;
}

.box{
	@extend %grid__item;
	@extend %one-whole;
	@extend %twocol--one-half;
	@extend %threecol--one-third;
}

/*--------------------------------------- Footer ---------------------------------------*/