h1,.alpha{
  @include rem("font-size", 36, true);
  color: $darkgray;
}
h2,.beta{
  @include rem("font-size", 24, true);
  color: $darkgray;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h3,.gamma{
  @include rem("font-size", 15, true);
  @include rem("padding-top", 9, true);
  text-transform: uppercase;
  letter-spacing: 1px;
}
h4,.delta{
  @include rem("font-size", 15, true);
  @include rem("padding-top", 9, true);
}
h5,.epsilon{
  @include rem("padding-top", 11, true);
  font-weight: bold;
  color: $lightgray;
}
h6,.zeta{
  @include rem("padding-top", 11, true);
  color: $lightgray;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  border-bottom: $border;
  margin: 0;
  line-height: 1;
  @include rem("padding-bottom", 10);
}

.box h2, .box h3{
  width: 75%;
}

/**
 * A series of classes for setting massive type; for use in heroes, mastheads,
 * promos, etc.

.giga{
    @include font-size($giga-size);
}
.mega{
    @include font-size($mega-size);
}
.kilo{
    @include font-size($kilo-size);
}
 */