/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, h2, h3, h4, h6{
  font-weight: normal;
  margin-bottom: .5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  color: inherit;
}

%uppercase{
  text-transform: uppercase;
  letter-spacing: .1em;
}

h1, .alpha   {
  @include font-size((36/16), x-large);
  line-height: 1.2;
  color: $gray-dark;
}

h2, .beta    {
  @include font-size((24/16), x-large);
  @extend %uppercase;
  line-height: 1.2;
  color: $gray-dark;
}

h3, .gamma   {
  @include font-size((15/16), large);
  @extend %uppercase;
  line-height: 1.2;
}

h4, .delta   {
  @include font-size((15/16), large);
}

h5, .epsilon {
  @include font-size((13/16), medium);
  color: $gray-light;
}

h6, .zeta    {
  @include font-size((13/16), medium);
  color: $gray-light;
}