/* Links */
a {
	color: $gray-light;
	text-decoration: none;
	outline: 0;

	&:after{
		display: inline-block;
		font-size: 1em;
		font-family: 'fontello';
		content: " \e804";//"\25B8";
		text-transform: none;
		text-decoration: none;
		padding-left: 2px;
		speak: none;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		font-style: normal;
	}

	&:hover, &:focus {
		color: $gray-dark;
		text-decoration: underline;
	}
}

a.noarr:after{
	content: normal;
}