html{
    overflow-y: scroll;
    min-height: 100%;
}

body{
	max-width: 95em;
	padding: 0 2%;
	margin: 0 auto;
	color: #4c4c4c;
	font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
	font-size: .8125em;
	line-height: 1.538461538;
}