.nav{
    list-style:none;
    margin-left:0;
}
    .nav > li,
        .nav > li > a{
            display:inline-block;
           *display:inline;
            zoom:1;
    }

.mainnav ul{
    width: 100%;
    margin: 0;
    padding: 0;
    li a{
    	height: 87px;
    	line-height: 87px;
    	padding: 0 10px;
    	&:hover{
    		color: $darkgray;
    		background: #ffffff;
    		background: rgba(255,255,255,.7);
    	}
    }
}


.breadcrumb{}
    .breadcrumb li:before{
        content:"» "
    }
    .breadcrumb li:first-child:before{
        content:normal;
    }


.sponsors{
  text-align:center;
}