.accordion {
	margin-bottom: $space;

	.headline{
		line-height: 1;
		padding: $space 0 $space-half;
		border-bottom: 1px solid $gray-korona;
		margin-bottom: $space-half;
	}
}

.acc-handle {
	&:before{
		display: inline-block;
		font-family: 'fontello';
		content: "\e801";//"\25B8";
		text-transform: none;
		text-decoration: none;
		padding: 0 5px 0 3px;
	}

	&:after{
		content: normal;
	}

	&:hover {

	}

	&.active {
		&:before {
			content:"\f078";
			content:"\e800";
		}
	}
}

.acc-panel{
	height: 0;
	overflow: hidden;
	@include vendor("transition", height .5s);

	&.active{
		height: auto;
		//max-height: none;
	}
}