.accordion {
	margin-bottom: $space;

	h3{
		line-height: 1;
		padding: $space 0 $space-half;
		border-bottom: 1px solid $gray-korona;
		margin-bottom: $space-half;
	}
}

.acc-handle {
	&:after {
		content:" 5";
		font-size: 1.2em;
	}

	// Mac Shortfix
	&:after{
		font-family: 'FontAwesome';
		content: "\f077";//"\25B8";
		text-transform: none;
		padding-left: 2px;
	}

	&:hover {

	}

	&.active {
		&:after {
			content:"\f078";
		}
	}
}

.acc-panel{
	height: 0;
	overflow: hidden;
	@include vendor("transition", height 2s);

	&.active{
		height: 238px;
		//max-height: none;
	}
}