.b-downloads table, .downloads table{
	@include font-size((13/16), medium);
	border: 0;
	padding-left: 0;

	td{
		border: 0;
	}
}

.d-form{
	height: 0;
	overflow: hidden;
	@include vendor("transition", height .25s);

	&.active{
		height: auto;
		//max-height: none;
	}
}

.d-form > div{
	overflow: hidden;
}